* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1f2937;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
}

.header-logo {
  font-family: Cinzel;
  font-size: 22px;
  font-weight: 700;
  margin-right: 500px;
}

.header-links {
  display: flex;
  gap: 16px;
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: #ffffff;
}

.content {
  display: flex;
  flex-direction: column;
}

#one {
  background-color: #1f2937;
  color: #f9faf8;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

#one p:first-child {
  font-size: 24px;
  font-weight: bolder;
}

#one p:last-of-type {
  font-size: 16px;
}

#one button {
  background-color: #1a73e8;
  color: #f9faf8;
  border: none;
  border-radius: 5px;
  padding: 6px 20px;
}

.one-left {
  width: 25%;
}