* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1f2937;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
}

.header-logo {
  font-family: Cinzel;
  font-size: 18px;
  font-weight: 700;
  margin-right: 500px;
}